body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, peru, lightblue);

  & main {
    width: 900px;
    height: 400px;
  }
}
